@import url('https://fonts.googleapis.com/css?family=Raleway');

html { 
    background: url(https://wallpaperaccess.com/full/2508135.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
 
    font-family: 'Raleway', sans-serif;

    line-height: 2.5em;

    font-weight: 900;
  }

h1 {
    color: lightcoral;
    box-shadow: 10px lightcoral;
    text-align: center;
    text-decoration: underline lightskyblue;

}

figure img {
    max-width: 512px;
    max-height: 512px;
}

figure figcaption {
    font-weight: bold;
    color: white;
    box-shadow: 10px 10px 10px lightpink;
}

a {
    font-size: 25px;
    font-weight: bolder;
    color: lightgreen;
}

a :hover {
    box-shadow: 20px 20px 20px lightskyblue;
}

ol {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}

li {
    color: rgb(60, 228, 102);
    box-shadow: 10px tomato;
}